@font-face {
	font-family: 'FontAwesome';
	src: url('../lib/fontawesome-webfont.eot?v=4.3.0');
	src: url('../lib/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../lib/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../lib/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../lib/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../lib/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
