$ql-font: "Play";
$ql-toolbar-height: 35px;
$ql-panel-width: 250px;
$ql-object-pane-height: 250px;

$ql-toolbar-text-color: #ccc;
$ql-toolbar-background-color: #333;

$ql-panel-background-color: #999;
$ql-panel-text-color: #000;

$ql-panel-object-1-color: #888;
$ql-panel-object-2-color: #777;
