
@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic-ext,cyrillic);

@import "inc/overrides.scss";
@import "inc/vars.scss";
@import "inc/common.scss";

@import "inc/gui/toolbar.scss";
@import "inc/gui/left-panel.scss";
@import "inc/gui/views.scss";
