.gui {
	.left-panel {
		background: #999;
		color: #000;
		position: absolute;
		top: $ql-toolbar-height;
		left: 0px;
		bottom: 0px;
		width: 0px;
		padding: 10px 0px;
		
		&.opened {
			width: $ql-panel-width;
			& + .views {
				left: $ql-panel-width;
				border-left-width:0px;
			}
		}
		.btn {
			-webkit-appearance: initial;
			border-image: none;
			border: 0px;
			padding: 0px;
			margin: 5px;
			text-align: center;
			height: 25px;
			width: 100%;
			line-height: 25px;
			font-size:14px;
			background: #888;
			display: block;
			cursor: pointer;
			&:hover {
				background: #777;
			}

		}
		> * {
			position: absolute;
			width: 100%;
			
			.pane-title {
				padding: 0px 10px; 
				width: 100%;
				height: 30px;
				line-height: 30px;
				position: absolute;
				top: 0px;
				background: #777;
				color: #000;
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;
			}
			.pane-body {
				top: 31px;
				bottom: 1px;
				width: 100%;
				position: absolute;
				overflow-y: scroll;
				overflow-x: none;
				&::-webkit-scrollbar
				{
					width: 6px;  /* for vertical scrollbars */
					height: 6px; /* for horizontal scrollbars */
				}

				&::-webkit-scrollbar-track
				{
					background: rgba(0, 0, 0, 0.1);
				}

				&::-webkit-scrollbar-thumb
				{
					background: rgba(0, 0, 0, 0.5);
				}
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;
			}
		}
		
		.scene-pane {
			top: 0px;
			bottom: 0px;			
			
			
			.section {
				.title {
					height: 25px;
					line-height: 25px;
					font-size: 16px;
					background: #888;
					padding-left: 10px;
					margin: 5px 0px;
				}
				.entities {
					margin: 0px;
					padding: 0px;
					list-style-type: none;
					li {
						margin-left: 0px;
						padding: 0px 25px;
						height: 25px;
						line-height: 25px;
						font-size:12px;
						cursor: pointer;
						&:hover {
							background: #888;
						}
						&.selected {
							background: #777;
						}
					}
				}
				
			}
		}
		.object-pane {
			background: #999;
			color: #000;
			bottom: 0px;
			width: 100%;
			height: $ql-object-pane-height;
			display: none;
			&.active {
				display: block;
				& + .scene-pane{	
					bottom: $ql-object-pane-height;
				}
			}
			.props {
				margin: 0px;
				padding: 0px;
				list-style-type: none;
				li {
					margin: 5px 0px;
					padding: 0px 5px;
					height: 30px;
					line-height: 30px;
					cursor: pointer;
					font-size: 0px;
					&:hover {
						background: #888;
					}
					&.selected {
						background: #777;
					}
					> * {
						font-size:14px;
						margin: 0px;
						padding: 0px;
						padding-left: 5px;
						display: inline-block;
						-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
						-moz-box-sizing: border-box;    /* Firefox, other Gecko */
						box-sizing: border-box;
						height: 30px;
						line-height: 30px;
						border: 0px;
						outline: none;
					}
					label {
						width: 31%;
					}
					input {
						width: 69%;
						background: #777;
						color: #333;
						&.p30 {
							width: 23%;
						}
					}
				}
			}
		}
			
	}
	
}
