.gui {
	.toolbar {
		background: $ql-toolbar-background-color;
		color: $ql-toolbar-text-color;
		top: 0px;
		right: 0px;
		left: 0px;
		height: $ql-toolbar-height;
		position: absolute;
		font-size: 18px;
		> *, a {
			display: inline-block;
			height: $ql-toolbar-height;
			line-height: $ql-toolbar-height;
			margin: 0px;
			padding: 0px;
			position: absolute;
			top: 0px;
			img {
				height: $ql-toolbar-height;
				margin: 0px;
				padding: 0px;
				vertical-align: top;
			}
		}
		.splitter {
			display: inline-block;
			width: 40px;
		}
		.logo {
			font-size: 24px;
			font-family: $ql-font;
			font-weight: 600;
			left: 40px;
		}
		a {
			min-width: 30px;
			text-align: center;
			cursor: pointer;
			position: relative;
			&:hover {
				color: #fff;
				background: #444;
			}
			&.selected, &.toggled {
				color: #fff;
				background: #555;
			}
		}
		
		.debug-keys {
			display: inline-block;
			height: $ql-toolbar-height;
			line-height: $ql-toolbar-height;
			width: 120px;
			margin: 0px;
			padding: 0px 10px;
		}
		.debug-toggle {
			padding: 0px 5px;
		}
		.debug-info {
			display: inline-block;
			margin: 0px;
			padding: 0px;
			display: none;
			.indexes {
				display: inline-block;
				height: $ql-toolbar-height;
				line-height: $ql-toolbar-height;
				width: 50px;
				padding: 0px 5px;
				border: 0px;
				background: #444;
				font-size: 14px;
				color: #aaa;
				outline: none;
				margin: 0px;
				padding: 0px;
			}
		}
		.visible {
			display: inline-block;
		}
		.panel-toggle {
			left: 0px;
		}
		.left-bar {
			left: $ql-panel-width;
		}
		.right-bar {
			right: 0px;
		}
		.fullscreen-toggle {
			width: 100px;
		}
	}
}
