.gui {
	.views {
		position: absolute;
		top: $ql-toolbar-height;
		bottom: 0px;
		right: 0px;
		left: 0px;
		.canvas {
			width: 50%;
			height: 50%;
			border:1px solid rgba(128,128,128,0);
			box-sizing: border-box;
			&.selected {
				border-color: #579!important;
				border-size: 1px;
				box-sizing: border-box;
			}
			background: #000;
			position: absolute;
			&.canvas-tl {
				top: 0px;
				left: 0px;
				border-left-color: #555;
				border-bottom-color: #555;
			}
			&.canvas-tr {
				top: 0px;
				right: 0px;
				box-sizing: inherit;
				border: 0px;
			}
			&.canvas-bl {
				bottom: 0px;
				left: 0px;
				border-right-color: #555;
				border-top-color: #555;
			}
			&.canvas-br {
				bottom: 0px;
				right: 0px;
				border-left-color: #555;
				border-top-color: #555;
			}
			
		}
		&.fullscreen .selected {
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			width: 100%;
			height: 100%;
			border-width: 0px;
			z-index: 99;
		}
	}
}
