.gui {
	.views {
		position: absolute;
		top: $ql-toolbar-height;
		bottom: 0px;
		right: 0px;
		left: 0px;
		.view {
			width: 50%;
			height: 50%;
			border:1px solid rgba(128,128,128,0);
			box-sizing: border-box;
			.fullscreen-toggle {
				position: absolute;
				top: 0px;
				right: 0px;
				z-index: 104;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				color: #ccc;
				opacity: 0.5;
				cursor: pointer;
				&:hover {
					opacity: 1;
				}
			}
			&.selected {
				border-color: #579!important;
				border-size: 1px;
				box-sizing: border-box;
			}
			background: #000;
			position: absolute;
			&#view-tl {
				top: 0px;
				left: 0px;
				border-left-color: #555;
				border-bottom-color: #555;
			}
			&#view-tr {
				top: 0px;
				right: 0px;
				box-sizing: inherit;
				border: 0px;
			}
			&#view-bl {
				bottom: 0px;
				left: 0px;
				border-right-color: #555;
				border-top-color: #555;
			}
			&#view-br {
				bottom: 0px;
				right: 0px;
				border-left-color: #555;
				border-top-color: #555;
			}
			&.fullscreen {
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				width: 100%;
				height: 100%;
				border-width: 0px;
				z-index: 200;
			}
			canvas {
				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				width: 100%;
				height: 100%;
				&.grid-layer {
					z-index: 100;
				}
				&.layer-3d {
					z-index: 100;
				}
				&.scene-layer {
					z-index: 101;
				}
				&.selection-layer {
					z-index: 102;
				}
				&.indicators-layer {
					z-index: 103;
				}

			}
		}
		
	}
}
