doctype html
html
	head
		title qoole gui tests
		link(rel="stylesheet",href="css/style.css")
	body
		canvas.canvas.canvas-tl
		canvas.canvas.canvas-tr
		canvas.canvas.canvas-bl
		canvas.canvas.canvas-br
		a test

		script(src="lib/jquery.js")
		script(src="js/main.js")