doctype html
html
	head
		title qoole gui tests
		link(rel="stylesheet",href="css/style.css")
	body
		canvas.canvas.canvas-tl
		canvas.canvas.canvas-tr
		canvas.canvas.canvas-bl
		canvas.canvas.canvas-br

		//- lib
		script(src="lib/jquery.js")
		script(src="lib/lodash.js")
		script(src="lib/three.min.js")
		script(src="lib/threex.keyboardstate.js")
		//- app
		script(src="js/classes/qlview2d.js")
		script(src="js/classes/qlview3d.js")
		script(src="js/main.js")