.gui {
	.toolbar {
		background: var(--ql-toolbar-bg);
		color: var(--ql-toolbar-text);
		flex: 0 0 $ql-toolbar-height;
		height: $ql-toolbar-height;
		display: flex;
		align-items: stretch;
		position: relative;
		z-index: 10;
		font-size: 18px;
		user-select: none;

		.logo {
			font-size: 24px;
			font-family: $ql-font;
			font-weight: 600;
			height: $ql-toolbar-height;
			line-height: $ql-toolbar-height;
			padding: 0 12px 0 4px;
			flex: 0 0 auto;
		}

		.splitter {
			display: inline-block;
			width: 24px;
			flex: 0 0 auto;
		}

		a {
			min-width: 30px;
			height: $ql-toolbar-height;
			line-height: $ql-toolbar-height;
			text-align: center;
			cursor: pointer;
			display: inline-block;
			flex: 0 0 auto;
			img {
				height: $ql-toolbar-height;
				margin: 0;
				padding: 0;
				vertical-align: top;
			}
			&:hover {
				color: var(--ql-toolbar-hover-text);
				background: var(--ql-toolbar-hover-bg);
			}
			&.selected, &.toggled {
				color: var(--ql-toolbar-hover-text);
				background: var(--ql-toolbar-active-bg);
			}
		}

		.panel-toggle {
			width: 40px;
		}

		.left-bar {
			display: flex;
			align-items: stretch;
			flex: 0 0 auto;
		}

		.right-bar {
			margin-left: auto;
			display: flex;
			align-items: stretch;
			padding-right: 4px;
		}

		.theme-toggle {
			width: 40px;
		}
	}
}
